<!DOCTYPE html>
<html>
  <head>
    <title>Maverick 2D</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body >
  	<div id="game">

    	<canvas id="canvas"></canvas>

      <div id="menu">
        <img id="logo" src="/images/logo.png" alt="Maverick 2D">
        <select id="select">
            <option value="0">Spitfire</option>
            <option value="1">Zero</option>
            <option value="2">Mustang</option>
            <option value="3">Lightning</option>
            <option value="4">Messerschmitt</option>
        </select>
        <div id="inputs">
          <input type="text" id="name" placeholder="Input name!">
        </div>
        <button type="submit" id="start">Start Game</button>
        <div id="reload-container">
          <button type="submit" id="reload" class="hide">Respawn</button>
        </div>
        <div id="controls">Use the arrow keys or A and D to turn.
          <br>
          Hold the up arrow or W to accelerate.
          <br>
          Press spacebar to shoot!
        </div>
      </div>

    </div>
  </body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/all.js"></script>

</html>
