<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  	<div id="game">
    	<canvas id="canvas" width="1280" height="720"></canvas>
    	<input type="button" id="start" value="Start Game">
    </div>
  </body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/app.js"></script>

</html>
