<!DOCTYPE html>
<html>
  <head>
    <title>Maverick 2D</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body >
  	<div id="game">

    	<canvas id="canvas" width="1280" height="960"></canvas>

      <div id="menu">
        <img id="logo" src="/images/logo.png" alt="Maverick 2D">
        <div id="inputs">
          <input type="text" id="name" placeholder="Input name!">
          <input type="button" id="start" value="Start Game">
        </div>
        <input type="button" id="reload" class="hide" value="Play Again?">
        <div id="controls">Use either the arrow keys or A and D to turn.  Press shift to fire bullets!</div>
      </div>

    </div>
  </body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/app.js"></script>

</html>
