body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #34495e;
}

a {
  color: #00B7FF;
}

#canvas {
	background-color: #86E2D5;
	border-radius: 5px;
	position: absolute;
}

#menu {
	position: absolute;
	left: 320px;
	top: 240px;
	z-index: 2;
	width: 640px;
	height: 480px;
	background-color: #34495e;
	border: 10px solid #2c3e50;
	border-radius: 8px;
}

#logo {
	margin-top: 72px;
	margin-left: 45px;
	width: 560px;
}

#game {
	width: 1280px;
	height: 720px;
	position: absolute;
	left: -640px;
	margin-left: 50%;
	z-index: 1;
}

#name {
	background-color: white;
	color: #2c3e50;
	border: none;
	border-radius: 6px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin-left: 80px;
}

#start {
	background-color: #27ae60;
	color: white;
	border: none;
	border-radius: 6px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 10px;
}

#select {
	background-color: white;
	color: #2c3e50;
	width: 150px;
	height: 40px;
	border: none;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin-left: 80px;
}

#reload-container {
	text-align: center;
}

#reload {
	background-color: #27ae60;
	color: white;
	border: none;
	border-radius: 6px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 10px;
}

#controls {
	color: white;
	margin-left: 80px;
}

.hide {
	display: none;
}
